<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css')}}">
</head>
<body>
<div class="buttons">
  <div class="container">
      <a href="frekans_hesaplama" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>FREKANS HESAPLAMA</span></a>
  </div>
  <div class="container">
      <a href="anahtar_kelime" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>ANAHATAR KELİME ÇIKARMA</span></a>
  </div>
  <div class="container">
      <a href="benzerlik_skorlamasi" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>BENZERLİK SKORLAMASI</span></a>
  </div>
  <div class="container">
      <a href="indexleme_siralama" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>İNDEXLEME VE SIRALAMA</span></a>
  </div>
  <div class="container">
      <a href="semantik_analiz" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>SEMANTİK ANALİZ</span></a>
  </div>
</div>

</body>
</html>